.section {
    display: flex;
    flex-direction: column;
    gap: mobile-vw(20);
    
    @media (--desktop) {
        gap: desktop-vw(20);
    }
}

.titleContainer {
    color: color-mix(in srgb, var(--color-dark-900) 40%, transparent);
    display: flex;
    align-items: center;
    gap: mobile-vw(12);
    
    @media (--desktop) {
        gap: desktop-vw(12);
    }
}

.divider {
    flex: 1;
    border: solid color-mix(in srgb, var(--color-dark-900) 12%, transparent);
    border-width: mobile-vw(0.5);
    
    @media (--desktop) {
        border-width: desktop-vw(0.75);
    }
}

.bodyContainer {
    color: color-mix(in srgb, var(--color-dark-900) 60%, transparent);
    display: flex;
    flex-direction: column;
    gap: mobile-vw(24);
    
    @media (--desktop) {
        gap: desktop-vw(24);
    }

    & h1 {
        color: var(--color-dark-900);
        margin-bottom: unset;
        
        @media (--desktop) {
            margin-bottom: desktop-vw(12);
        }
    }
}